<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/auth/reg}" th:object="${user}">
  <label for="username">Введите имя пользователя: </label>
  <input type="text" th:field="*{name}" id="username"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Username Error</div>
  <br/>
  <label for="surname">Введите Фамилию: </label>
  <input type="text" th:field="*{surname}" id="surname"/>
  </div>
  <br/>
  <label for="age">Ввудите возраст: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <br/>
  <label for="password">Введите пароль: </label>
  <input type="password" th:field="*{password}" id="password"/>
  <br/>
  <input type="submit" value="Sign up!"/>
</form>

</body>
</html>